<div class="page-sidebar navbar-collapse collapse">
	<!-- BEGIN SIDEBAR MENU -->
	<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
	<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
	<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
	<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
		<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
		<li class="sidebar-search-wrapper">
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
			<!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
			
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>
		<li class="start">
			<a href="#/dashboard.html">
			<i class="icon-home"></i>
			<span class="title">Dashboard</span>
			</a>
		</li>

        <li>
			<a href="#/addlog.html">
			<i class="icon-plus"></i>
			<span class="title">Add Log</span>
			</a>
		</li>
		
        <li>
			<a href="#/viewCustomers">
			<i class="icon-plus"></i>
			<span class="title">View Customers</span>
			</a>
		</li>
		

        <li>
			<a href="#/products">
				<i class="icon-plus"></i>
				<span class="title">Products</span>
			</a>
		</li>

		<li>
			<a href="#/agents">
				<i class="icon-plus"></i>
				<span class="title">Agents</span>
			</a>
		</li>

		<li>
			<a href="#/reportsales">
				<i class="icon-plus"></i>
				<span class="title">Report Sales</span>
			</a>
		</li>

		<li>
			<a href="#/reportagents">
				<i class="icon-plus"></i>
				<span class="title">Report Agents</span>
			</a>
		</li>

		<li>
			<a href="#/invoices">
			<i class="icon-plus"></i>
			<span class="title">All Invoices</span>
			</a>
		</li>
		

	</ul>
	<!-- END SIDEBAR MENU -->
</div>	