

<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Add Log</a>
		</li>
	</ul>
	
</div>
<h3 class="page-title">
	Add Log
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="AddlogController">

	<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet box green-haze">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Add Log Form
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="#" data-toggle="modal" class="config">
					</a>
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
                                <div id="myModal_viewcart" class="modal fade" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">Cart Details</h4>
							</div>
							<div class="modal-body form">
								<div   action="#" class="form-horizontal form-row-seperated" role="form" novalidate >
									<div class="form-group">
                                                                                <label class="control-label col-md-3">Product Name</label>
                                                                                <label class="control-label col-md-3">Price/ Item</label>
                                                                                <label class="control-label col-md-3">Quantity</label>
                                                                                <label class="control-label col-md-3">Price</label>
                                                                               
                                                                        </div>
                                                                        <div class="form-group" ng-repeat="product in itemswithprice">
                                                                                <div class="form-group">
                                                                                <label class="control-label col-md-3">{{product.name}}</label>
                                                                                <label class="control-label col-md-3">{{product.priceperitem}}</label>
                                                                                <label class="control-label col-md-3">{{product.quantity}}</label>
                                                                                <label class="control-label col-md-3">{{product.price}}</label>
                                                                              
                                                                                </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                                <div class="form-group " >
                                                                                    <label class="control-label col-md-3">Total</label>
                                                                                    <label class="control-label col-md-3 pull-right">{{total}}</label>
                                                                               </div>
                                                                        </div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                
							</div>
						</div>
					</div>
				</div>
                                <div id="myModal_autocomplete" class="modal fade" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">Add New Customer</h4>
							</div>
							<div class="modal-body form">
								<form   id="clientform"  class="form-horizontal form-row-seperated" role="form" novalidate >
									<div class="form-group">
                                                                                <label class="control-label col-md-3">Customer's Full Name</label>
                                                                                <div class="col-md-6">
                                                                                        <input type="text"  ng-model="name" class="form-control" maxlength="25" name="defaultconfig" id="maxlength_defaultconfig">
                                                                                </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                                <label class="control-label col-md-3">Mobile / Phone Number</label>
                                                                                <div class="col-md-6">
                                                                                        <input  ng-model="phone" max="10" class="form-control" id="mask_number" type="text"/>
                                                                                </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                                <label class="control-label col-md-3">Email</label>
                                                                                <div class="col-md-6">
                                                                                        <input  ng-model="email" type="email" class="form-control" maxlength="25" name="defaultconfig" id="maxlength_defaultconfig">
                                                                                </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                                <label class="control-label col-md-3">Address</label>
                                                                                <div class="col-md-6">
                                                                                        <input  ng-model="address" type="text" class="form-control" maxlength="50" name="defaultconfig" id="maxlength_defaultconfig">
                                                                                </div>
                                                                        </div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                <button type="button" ng-click="clientForm()" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-check"></i> Save </button>
							</div>
						</div>
					</div>
				</div>
				<form class="form-horizontal " role="form" novalidate ng-submit="logForm()">
					<div class="form-body container-fluid">
                                            <div class="container-fluid col-md-6  pull-right">
                                            <div  class="form-group col-md-12 " style="border: solid 1px;padding: 0%;margin: 0%;border-color:#efefef;padding-top: 1%;">
                                                    <label class="control-label col-md-3">Customer Mobile/Phone Number</label>
                                                    <div class="col-md-6">
                                                            <div class="input-group" style="text-align:left;">
                                                                    <input id="mask_number" max="11" ng-model="phonecheck" type="text" class="form-control"  >
                                                                    <span class="input-group-btn">
                                                                    <a ng-click="doClick()" class="btn green" >
                                                                    <i class="fa fa-check"></i> Check  </a>
                                                                    </span>
                                                            </div>
                                                            <div class="help-block">
                                                                     {{fromServer}}
                                                            </div>
                                                    </div>

                                                    <div class="" style="border: none;">
                                                            <a href="#" data-target="#myModal_autocomplete" role="button" class="btn red" data-toggle="modal">
                                                            Add </a>
                                                    </div>
                                                     
                                                    <div ng-show = "customerIsVisible" class="col-md-11 " style="border: solid 1px;padding: 0%;margin: 1%;border-color:#efefef;padding-top: 1%;">
                                                        <div><label class="control-label">Customer's Name: </label><label class="control-label ">{{ client.value.fullname }}</label></div>
                                                        <div><label class="control-label ">Last Call Date : </label><label class="control-label">12th July 2015 , 12:30 PM</label></div>
                                                        <div><label class="control-label ">Purpose: </label><label class="control-label">Feedback</label></div>
                                                    </div>
                                                    <div ng-show = "productIsVisible" class="col-md-11 " style="border: solid 1px;padding: 0%;margin: 1%;border-color:#efefef;padding-top: 1%;">
                                                        <div><label class="control-label ">Product Name: </label><label class="control-label">{{productdoc.name}}</label></div>
                                                        <div><label class="control-label ">Description : </label><label class="control-label">{{productdoc.specs}}</label></div>
                                                        <div><label class="control-label ">Price: </label><label class="control-label ">{{productdoc.price}}</label></div>
                                                    </div>
                                                   
                                            </div>
                                            </div>
                                            <div class="container-fluid col-md-6  pull-left" >
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="portlet box green-meadow">
                                                                <div class="portlet-title">
                                                                        <div class="caption">
                                                                                <i class="fa fa-gift"></i>Interests
                                                                        </div>
                                                                        <div class="tools">
                                                                                <a href="javascript:;" class="collapse">
                                                                                </a>
                                                                                <a href="#" data-toggle="modal" class="config">
                                                                                </a>
                                                                                <a href="javascript:;" class="reload">
                                                                                </a>
                                                                                <a href="javascript:;" class="remove">
                                                                                </a>
                                                                        </div>
                                                                 </div>
                                                                <div class="portlet-body">
                                                                    <div style="border: solid 1px;padding: 1%;margin: 0%;border-color:#efefef;">
                                                                            <div class="form-group" >
                                                                                 <label class="control-label col-md-3">Product Name</label>
                                                                                 <div class="col-md-9 " >
                                                                                         <div class="input-group" style="text-align:left;">
                                                                                                 
                                                                                                  <select  ng-model="interest" class="form-control col-md-5">
                                                                                                      <option ng-selected="{{ product.key == product.key }}" selected disabled >Choose Product</option>
                                                                                                        <option ng-repeat="product in products" value="{{product.key}}+{{product.value.name}}">{{product.value.name}}</option>
                                                                                                  </select>
                                                                                                 <span class="input-group-btn">
                                                                                                 <a  ng-click="show_interest()"  class="btn green" >
                                                                                                 <i class="fa fa-search"></i> Search </a>
                                                                                                 </span>
                                                                                         </div>
                                                                                         

                                                                                 </div>

                                                                             </div>
                          
                                                                   </div>   
                                                                </div> 

                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="portlet box green-meadow">
                                                                <div class="portlet-title">
                                                                        <div class="caption">
                                                                                <i class="fa fa-gift"></i>Invoice
                                                                        </div>
                                                                        <div class="tools">
                                                                                <a href="javascript:;" class="collapse">
                                                                                </a>
                                                                                <a href="#" data-toggle="modal" class="config">
                                                                                </a>
                                                                                <a href="javascript:;" class="reload">
                                                                                </a>
                                                                                <a href="javascript:;" class="remove">
                                                                                </a>
                                                                        </div>
                                                                 </div>
                                                                <div class="portlet-body">
                                                                        <div class="row"> 
                                                                                <div class=" pull-right" style="border: none;margin: 1%;">
                                                                                    <a href="#"  class="btn blue-dark" ng-click="addNewProduct()" >
                                                                                        Add New Item </a>
                                                                                </div>
                                                                        </div>
                                                                        <div style="border: solid 1px;padding: 1%;margin: 0%;border-color:#efefef;" >
                                                                                <fieldset  data-ng-repeat="product in productsbox">
                                                                                   <div class="form-group" >
                                                                                        <label class="control-label col-md-3">Product Name</label>
                                                                                        <div class="col-md-9 " >
                                                                                            <div class="input-group" style="text-align:left;">
                                                                                                <select  ng-model="product.invoice_product"  class="form-control col-md-5">
                                                                                                        <option id ="{{product.key}}" ng-selected="{{ product.key == product.key }}" selected disabled >Choose Product</option>
                                                                                                        <option id ="{{product.key}}" ng-repeat="product in products" value="{{product.key}}">{{product.value.name}}</option>
                                                                                                </select>
                                                                                                 <span class="input-group-btn">
                                                                                                 <a  ng-click="show_product($index)"  class="btn green" >
                                                                                                 <i class=""></i> Show Product </a>
                                                                                                 </span>
                                                                                            </div>

                                                                                        </div>

                                                                                    </div>
                                                                                   <div class="form-group">
                                                                                            <label class="control-label col-md-3">Quantity</label>
                                                                                            <div class="col-md-6">
                                                                                                    <input  ng-model="product.invoice_quantity" min="0" class="form-control" type="number"/>
                                                                                            </div>
                                                                                    </div>
                                                                                     <button class="removebut pull-right" ng-show="$last" ng-click="removeChoice()">-</button>
                                                                                </fieldset>
                                                                                
                                                                        </div>       
                                                                       <div id="invoice"></div>
                                                                </div> 

                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="portlet box green-meadow">
                                                                <div class="portlet-title">
                                                                        <div class="caption">
                                                                                <i class="fa fa-gift"></i>Feedback
                                                                        </div>
                                                                        <div class="tools">
                                                                                <a href="javascript:;" class="collapse">
                                                                                </a>
                                                                                <a href="#" data-toggle="modal" class="config">
                                                                                </a>
                                                                                <a href="javascript:;" class="reload">
                                                                                </a>
                                                                                <a href="javascript:;" class="remove">
                                                                                </a>
                                                                        </div>
                                                                 </div>
                                                                <div class="portlet-body">
                                                                     <div class="form-group">
                                                                           <label class="control-label col-md-3">Feedback type</label>
                                                                          <label ><input name ="typef" id="redRadio" type="radio" ng-model="feedbacktype" value="postive" />Postive</label>
                                                                        <label ><input  name ="typef" id="greenRadio" type="radio" ng-model="feedbacktype" value="negative" />Negative</label><br />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        
                                                                            <label class="control-label col-md-3">Customer's Feedback</label>
                                                                            <div class="col-md-9">
                                                                                    <textarea  ng-model="feedback" id="maxlength_textarea" class="form-control" maxlength="225" rows="2" placeholder="Write Customer's Feedback"></textarea>
                                                                            </div>
                                                                    </div>
                                                                </div> 

                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
                                                                <button data-target="#myModal_viewcart" role="button" class="btn red" data-toggle="modal" type="button" ng-click="showcart()" class="btn red"><i class="fa fa-cart-plus"></i> View Cart</button>
								<button type="submit" class="btn green"><i class="fa fa-check"></i> Submit</button>
								<button type="button" class="btn default">Cancel</button>
							</div>
						</div>
					</div>
				</form>
				<!-- END FORM-->
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<!-- BEGIN MAIN JS -->
<script>
       ComponentsFormTools.init();
	// Accordion demo controller
        var spinid=2;
        function additem()
        {
           
           $("#invoice").append(' <div style="border: solid 1px;padding: 1%;margin: 1%;border-color:#efefef;padding-top: 1%;">'+
                    '<div class="form-group" >'+
                         '<label class="control-label col-md-3">Product Name</label>'+
                         '<div class="col-md-9">'+
                                 '<div class="input-group" style="text-align:left;">'+
                                         '<input ng-model="invoice_product" type="text" class="form-control" name="username1" id="username1_input">'+
                                         '<span class="input-group-btn">'+
                                         '<a href="javascript:;" class="btn green" id="username1_checker">'+
                                         '<i class="fa fa-search"></i> Search </a>'+
                                         '</span>'+
                                 '</div>'+
                         '</div>'+

                     '</div>'+
                    '<div class="form-group">'+
                           ' <label class="control-label col-md-3">Quantity</label>'+
                            '<div class="col-md-6">'+
                                    '<input min="0" ng-model="quantity" class="form-control" type="number"/>'+
                            '</div>'+
                   '</div>'+
                 '</div>');
                
        }
	function clientsub()
        {
           $('#clientform').submit();
        }
        
	
        


	
       
	
</script>
<!-- BEGIN MAIN JS & CSS -->