<h3 class="page-title">
	Agents Page <small>manage your agents</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/datatables/advanced.html">Agents</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
					<i class="icon-user"></i> New User </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-basket"></i> New order </a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">
					<i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box green-haze">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Agents
				</div>
				<div class="tools">
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" id="sample_2">
					<thead>
						<tr>
							<th>
								Name
							</th>
							<th>
								Email
							</th>
							<th>
								Phone
							</th>
							<th>
								Username
							</th>
							<th>
								Password
							</th>
							<th>
								Edit
							</th>
							<th>
								Delete
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items" role="row" class="odd">
							<td>
								 {{item.name}}
							</td>
							<td>
								 {{item.email}}
							</td>
							<td>
								 {{item.phone}}
							</td>
							<td>
								 {{item.username}}
							</td>
							<td>
								 {{item.password}}
							</td>
							<td>
								<a class="delete" href="javascript:;">
								Edit </a>
							</td>
							<td>
								<button ng-click="deleteItem(item)">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>



































































































<div class="portlet box blue-hoki">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i>Add new agent
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse" data-original-title="" title="">
			</a>
			<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
			</a>
			<a href="javascript:;" class="reload" data-original-title="" title="">
			</a>
			<a href="javascript:;" class="remove" data-original-title="" title="">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form class="form-horizontal" novalidate ng-submit="processForm()">
			
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-3 control-label">Name</label>
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="Enter text" ng-model="name" id="item-name" name="item-name">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Email Address</label>
					<div class="col-md-4">
						<div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-envelope"></i>
							</span>
							<input type="email" class="form-control" placeholder="example@example.com" ng-model="email" id="item-email" name="item-email">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Phone</label>
					<div class="col-md-4">
						<div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-envelope"></i>
							</span>
							<input type="number" class="form-control" placeholder="(002) 02 - 7240380" ng-model="phone" id="item-phone" name="item-phone">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Username</label>
					<div class="col-md-4">
						<div class="input-icon">
							<i class="fa fa-bell-o"></i>
							<input type="text" class="form-control" placeholder="username" ng-model="username" id="item-username" name="item-username">
						</div>
					</div>
				</div>
				<div class="form-group last">
					<label class="col-md-3 control-label">Password</label>
					<div class="col-md-4">
						<div class="input-group">
							<input type="password" class="form-control" placeholder="Password" ng-model="password" id="item-password" name="item-password">
							<span class="input-group-addon">
							<i class="fa fa-user"></i>
							</span>
						</div>
					</div>
				</div>
				
			</div>
			<div class="form-actions ">
				<div class="row">
					<div class="col-md-offset-3 col-md-9">
						<button type="submit" class="btn green">Submit</button>
						<button type="button" class="btn default">Cancel</button>
					</div>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>


<script>
	//TableAdvanced.init();
</script>







