<!--BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Customer Details</a>
		</li>
	</ul>

</div>
<h3 class="page-title">
	Customer's Details
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="ViewCustomersController">

	<!-- BEGIN MAIN CONTENT -->
<div class="row">
		<div class="row ng-scope">
	<div class="col-md-12">
		<!-- BEGIN PORTLET -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Customer Details</span>
					
				</div>
				
			</div>
			<div class="portlet-body">
				
					<div class="general-item-list">
						<div class="item">
							<div class="item-head">
								<div class="item-details">
									
									<a class=" item-name primary-link" href="">Name: </a>
									<span style="color: #96a5aa" class="item-label">{{ customer.fullname }}</span>
								</div>
								
							</div>
							
						</div>

						<div class="item">
							<div class="item-head">
								<div class="item-details">
									
									<a class=" item-name primary-link" href="">Mobile / Phone Number: </a>
									<span style="color: #96a5aa" class="item-label">{{ customer.phone }}</span>
								</div>
								
							</div>
							
						</div>
						<div class="item">
							<div class="item-head">
								<div class="item-details">
									
									<a class=" item-name primary-link" href="">Email: </a>
									<span style="color: #96a5aa" class="item-label">{{ customer.email }}</span>
								</div>
								
							</div>
							
						</div>

						<div class="item">
							<div class="item-head">
								<div class="item-details">
									
									<a class=" item-name primary-link" href="">Address: </a>
									<span style="color: #96a5aa" class="item-label">{{ customer.address }}</span>
								</div>
								
							</div>
							
						</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PORTLET -->
<div class="row ng-scope">
		<div class="col-md-12">
		<!-- BEGIN PORTLET -->
		<div class="portlet light ">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Customer's History</span>
					
				</div>

			</div>
			<div class="portlet-body">

				<div class="table-scrollable table-scrollable-borderless">
					<table class="table table-hover table-light">
						<thead>
							<tr class="uppercase">
								<th>
									Date
								</th>
								<th>
									Product
								</th>
								<th>
									Type of call
								</th>
								<th>
									Agent
								</th>
								
							</tr>
						</thead>
						<tbody><tr ng-repeat="log in logs">

							<td>
								<a class="primary-link" href="#">{{ log.date }}</a>
							</td>
							<td>
								{{ log.product }}
							</td>
							<td>
								{{ log.typeofcall }}
							</td>
							<td>
								{{ log.agent }}
							</td>
							
						</tr>

					</tbody></table>
				</div>
			</div>
		</div>
		<!-- END PORTLET -->
	</div>
</div>
	</div>

	</div>
</div>
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
	
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
	//TableAdvanced.init();
</script>
