<!--BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">All Invoices</a>
		</li>
	</ul>

</div>
<h3 class="page-title">
	All Invoices
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-app ng-controller="InvoiceController">

	<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue-hoki">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Invoices
				</div>
				<div class="tools">
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" id="sample_1">
					<thead>
						<tr>
							<th>
								Invoice #
							</th>
							<th>
								Date
							</th>
							<th>
								Product
							</th>
							<th>
								Total
							</th>
							<th>
								Customer
							</th>
							<th>
								Status
							</th>
							<th>
								Shipped Date / Action
							</th>
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="invoice in invoices">
		                  <td>{{ invoice.invoiceNo }}</td>
		                  <td>{{ invoice.date }}</td>
		  				  <td><span ng-repeat="productName in invoice.productName">{{ productName }},</td>
		                  <td>{{ invoice.total }} L.E</td>
		                  <td>{{ invoice.customer }}</td>
		                  
							  <td ng-if="invoice.status == 'Pending'"><span class="label label-default">{{ invoice.status }}</span></td>
							  <td ng-if="invoice.status == 'Pending'"> <a id="invoice.id" ng-click="updateStatus(invoice.id,invoice.rev)" class="btn btn-success">Update status</a></td>
							  <td ng-if="invoice.status == 'Shipped'"><span  class="label label-success">{{ invoice.status }}</span></td>
			                  <td ng-if="invoice.status == 'Shipped'">{{ invoice.shippeddate }}</td>
		              	 
		                </tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
	//TableAdvanced.init();
</script>
