Product Page


<h3 class="page-title">
	Advanced Datatables <small>advanced datatable samples</small>
</h3>

<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet light">

			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form ng-submit="updateItems()" class="form-horizontal form-bordered">
					


					<div class="form-group">
						<label class="control-label col-md-3">Date Range</label>
						<div class="col-md-4">
							<div class="input-group input-large date-picker input-daterange" data-date="10-11-2012" data-date-format="yyyy-mm-dd">
								<input type="text" class="form-control" ng-model="startkey" name="startkey" id="startkey">
								<span class="input-group-addon">
								to </span>
								<input type="text" class="form-control" ng-model="endkey" name="endkey" id="endkey">
							</div>
							<!-- /input-group -->
							<span class="help-block">
							Select date range </span>
						</div>
					</div>

					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn green"><i class="fa fa-check"></i> Submit</button>
								<button type="button" class="btn default">Cancel</button>
							</div>
						</div>
					</div>

				</form>
			</div>

			

		</div>
	</div>
</div>



<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/datatables/advanced.html">Datatables</a>
		</li>
		<li>
			<a href="#/datatables/advanced.html">Advanced Datatables</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
					<i class="icon-user"></i> New User </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-basket"></i> New order </a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">
					<i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box green-haze">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Datatable with TableTools
				</div>
				<div class="tools">
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" id="sample_2">
					<thead>
						<tr>
							<th>
								Invoice no.
							</th>
							<th>
								Date
							</th>
							<th>
								Total
							</th>
							<th>
								Status
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items" role="row" class="odd">
							<td>
								 {{item.invoicenumber}}
							</td>
							<td>
								 {{item.date}}
							</td>
							<td>
								 {{item.total}}
							</td>
							<td>
								 {{item.status}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>




















<script>
    jQuery(document).ready(function() {       
       ComponentsPickers.init();
     });   
</script>











































































<script>
	//TableAdvanced.init();
</script>







