<h3 class="page-title">
	Agents Report <small>find agents reports here</small>
</h3>
<div class="row">
	<div class="col-md-6">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box green-haze">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Agents calls
				</div>
				<div class="tools">
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" id="sample_2">
					<thead>
						<tr>
							<th>
								AgentId
							</th>
							<th>
								Total Calls
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="product in items" role="row" class="odd">
							<td>
								 {{product.name}}
							</td>
							<td>
								 {{product.amount}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>