<!--BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">View Customers</a>
		</li>
	</ul>

</div>
<h3 class="page-title">
	View Customers
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="ViewCustomersController">

	<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue-hoki">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Customers
				</div>
				<div class="tools">
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" id="sample_1">
					<thead>
						<tr>
							<th>
								Name
							</th>
							<th>
								Mobile
							</th>
							<th>
								Last Call Date
							</th>
							<th>
								Action
							</th>
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="customer in customers">
		                  <td>{{ customer.fullname }}</td>
		                  <td>{{ customer.phone }}</td>
		  				  <td>22/08/2015</td>
		                  <td> <a ui-sref="customer({custId: customer._id})" class="btn btn-success">View more</a>
		                  </td>
		                </tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
	//TableAdvanced.init(); 
</script>
